:root {
    --plum: #9b5094;
    --mauve: #d3a6f0;
    --vistaBlue: #98a6d4;
    --mint: #59c9a5;
    --gunmetal: #0a2e36;
    --raisinBlack: #15192a;
    --darkPurple: #32161f;
    --iris: #5f52c9;
    --darkCyan: #3c887e;
    --nonPhotoBlue: #a6e1fa;

    --bgColor: light-dark(var(--nonPhotoBlue), var(--raisinBlack));
    --secondaryClrs: light-dark(white, var(--iris));
    --scndClrs: light-dark();
    --cardClrs: light-dark(var(--mint), var(--iris));
    --textColor: light-dark(var(--raisinBlack), white);
}

html {
    color-scheme: light dark;
}

* {
    font-family: system-ui;
}

body {
    margin: 0;

    --dot-bg: var(--bgColor);
    --dot-color: var(--secondaryClrs);
    --dot-size: 2px;
    --dot-space: 15px;
    background: linear-gradient(
                90deg,
                var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
                transparent 1%
            )
            center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%)
            center / var(--dot-space) var(--dot-space),
        var(--dot-color);
}

header {
    background-color: var(--bgColor);
    color: var(--textColor);
    height: 54px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0%;
    position: sticky;
    top: 0;
    left: 0;
}

.headerStart {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 20px;
}

.headerLogo {
    height: 90%;
    width: auto;
}

.links {
    text-decoration: none;
    color: light-dark(black, white);
}

.headerEnd {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
}


footer {
    background-color: var(--bgColor);
    color: var(--textColor);
    height: 108px;
    width: 100%;
    margin-top: 100px;
}



.StoreInfo
{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    margin: auto;
}
.StoreInfo-card
{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #293132;
    border-radius: 10px;
    padding: 20px 0;
}

.StoreInfo-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.StoreInfo-svg
{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: #98a6d4;
    border-radius: 10px;
}

svg
{
    width: 100%;
    height: 100%;
}

p
{
    line-height: 0;
}

.contact
{
    width: 100%;
    background-color: #5f52c9;
    color: #59c9a5;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
}

.contact-message
{
    
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: right;
}
.contact-message-main
{
    display: flex;
    flex-direction: column;
}
.contact-message-sending
{
    display: flex;
    flex-direction: column;
}


.contact-text
{
    
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h3
{
    line-height: 0;
}

h4
{
    line-height: 0;
}

textarea
{
    height: 150px;
    width: 200px;
}
.contact-alt
{
    
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 20px;
}
