:root {
    --plum: #9b5094;
    --mauve: #d3a6f0;
    --vistaBlue: #98a6d4;
    --mint: #59c9a5;
    --gunmetal: #0a2e36;
    --raisinBlack: #15192a;
    --darkPurple: #32161f;
    --iris: #5f52c9;
    --darkCyan: #3c887e;
    --nonPhotoBlue: #a6e1fa;

    --bgColor: light-dark(var(--nonPhotoBlue), var(--raisinBlack));
    --secondaryClrs: light-dark(white, var(--iris));
    --scndClrs: light-dark();
    --cardClrs: light-dark(var(--mint), var(--iris));
    --textColor: light-dark(var(--raisinBlack), white);
}

html {
    color-scheme: light dark;
}

* {
    font-family: system-ui;
}

body {
    margin: 0;

    --dot-bg: var(--bgColor);
    --dot-color: var(--secondaryClrs);
    --dot-size: 2px;
    --dot-space: 15px;
    background: linear-gradient(
                90deg,
                var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
                transparent 1%
            )
            center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%)
            center / var(--dot-space) var(--dot-space),
        var(--dot-color);
}

/*? Kis képernyős eszközök */
@media only screen and (max-width: 992px) {
    .mainDiv {
        margin-left: 10px;
        margin-right: 10px;
    }

    header {
        background-color: var(--bgColor);
        color: var(--textColor);
        height: 54px;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0%;
        position: fixed;
        top: 0;
        left: 0;
    }

    .headerStart {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        padding-left: 10px;
        gap: 10px;
    }

    .headerLogo {
        height: 90%;
        width: auto;
    }

    .links {
        text-decoration: none;
        color: light-dark(black, white);
    }

    .mainPageLink {
        display: none;
    }

    .headerEnd {
        width: 50%;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 10px;
    }

    .introDiv {
        width: 100%;
        height: 200px;
    }

    .introImg {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin-top: 10px;
    }

    .introStart,
    .introEnd {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .introImg2 {
        width: 80%;
        height: auto;
        border-radius: 35px;
    }

    .introImg3 {
        /* width: 80%;
        height: auto;
        border-radius: 20px; */
        display: none;
    }

    .introCim {
        margin-left: 10px;
        margin-right: 10px;
    }

    .introSzoveg {
        color: white;
        width: 80%;
        height: 80%;
        display: flex;
        align-items: center;
        text-align: justify;
    }

    .introSzovegOut {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        border: 2px solid white;
        background-color: var(--raisinBlack);
    }

    .cardsDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 50px;
        height: 100%;
        gap: 25px;
    }

    .card1,
    .card2,
    .card3 {
        width: 80%;
        height: 350px;
        background-color: var(--cardClrs);
        color: var(--textColor);
        padding: 25px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grow {
        transition: all 0.2s ease-in-out;
    }

    .grow:hover {
        transform: scale(1.2);
    }

    footer {
        background-color: var(--bgColor);
        color: var(--textColor);
        height: 108px;
        width: 100%;
        margin-top: 100px;
    }
}

/*? Nagy képernyős eszközök */
@media only screen and (min-width: 992px) {
    .mainDiv {
        margin-left: 10px;
        margin-right: 10px;
    }

    header {
        background-color: var(--bgColor);
        color: var(--textColor);
        height: 54px;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0%;
        position: fixed;
        top: 0;
        left: 0;
    }

    .headerStart {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        padding-left: 10px;
        gap: 20px;
    }

    .headerLogo {
        height: 90%;
        width: auto;
    }

    .links {
        text-decoration: none;
        color: light-dark(black, white);
    }

    .headerEnd {
        width: 50%;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 10px;
    }

    .introDiv {
        width: 100%;
        height: 350px;
    }

    .introImg {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .intro {
        display: flex;
        justify-content: center;
        height: 100%;
        margin-top: 50px;
    }

    .introStart,
    .introEnd {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .introImg2 {
        width: 90%;
        height: auto;
        border-radius: 35px;
    }

    .introImg3 {
        width: 90%;
        height: auto;
        border-radius: 20px;
    }

    .introSzoveg {
        border: 2px solid white;
        background-color: var(--raisinBlack);
        color: white;
        width: 90%;
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        text-align: justify;
    }

    .cardsDiv {
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
        height: 400px;
        color: white;
    }

    .card1,
    .card2,
    .card3 {
        width: 20%;
        height: 100%;
        background-color: var(--cardClrs);
        color: var(--textColor);
        padding: 25px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grow {
        transition: all 0.2s ease-in-out;
    }

    .grow:hover {
        transform: scale(1.2);
    }

    footer {
        background-color: var(--bgColor);
        color: var(--textColor);
        height: 108px;
        width: 100%;
        margin-top: 100px;
    }
}
