:root {
    --raisinBlack: rgb(21, 25, 42);
    --mauve: rgb(211, 166, 240);
    --iris: rgb(95, 82, 201);
    --mint: rgb(89, 201, 165);
    --vistaBlue: rgb(152, 166, 212);

    --bgColor: light-dark(var(--mauve), var(--raisinBlack));
    --invertedBgColor: light-dark(var(--raisinBlack), var(--mauve));
    --textColor: light-dark(var(--raisinBlack), white);
    --secondaryClrs: light-dark(var(--mint), var(--iris));
}

html {
    color-scheme: light dark;
}

* {
    font-family: system-ui;
}

body {
    background-color: var(--bgColor);
    color: var(--textColor);
    margin: 0;
}

body {
    --dot-bg: var(--bgColor);
    --dot-color: var(--invertedBgColor);
    --dot-size: 3px;
    --dot-space: 30px;
    background: linear-gradient(
                90deg,
                var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
                transparent 1%
            )
            center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%)
            center / var(--dot-space) var(--dot-space),
        var(--dot-color);
}

header {
    background-color: var(--raisinBlack);
    color: white;
    height: 54px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0%;
    position: sticky;
    top: 0;
    left: 0;
}

.headerStart {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 20px;
}

.headerLogo {
    height: 100%;
    width: auto;
}

.links {
    text-decoration: none;
    color: white;
}

.headerEnd {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
}

footer {
    background-color: var(--raisinBlack);
    color: white;
    height: 108px;
    width: 100%;
}

/* From Uiverse.io by ElSombrero2 */ 
.card {
    overflow: visible;
    width: 190px;
    height: 254px;
  }
  
  .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
  }
  
  .front, .back {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 160px;
    height: 160%;
    background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
    animation: rotation_481 5000ms infinite linear;
  }
  
  .back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #151515;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .card:hover .content {
    transform: rotateY(180deg);
  }
  
  @keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }
  
    0% {
      transform: rotateZ(360deg);
    }
  }
  
  .front {
    transform: rotateY(180deg);
    color: white;
  }
  
  .front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .front-content .badge {
    background-color: #00000055;
    padding: 2px 10px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
  }
  
  .description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    padding: 10px;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
  }
  
  .title {
    font-size: 11px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .title p {
    width: 50%;
  }
  
  .card-footer {
    color: #ffffff88;
    margin-top: 5px;
    font-size: 8px;
  }
  
  .front .img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ffbb66;
    position: relative;
    filter: blur(15px);
    animation: floating 2600ms infinite linear;
  }
  
  #bottom {
    background-color: #ff8866;
    left: 50px;
    top: 0px;
    width: 150px;
    height: 150px;
    animation-delay: -800ms;
  }
  
  #right {
    background-color: #ff2233;
    left: 160px;
    top: -80px;
    width: 30px;
    height: 30px;
    animation-delay: -1800ms;
  }
  
  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }
