:root {
    --plum: #9b5094;
    --mauve: #d3a6f0;
    --vistaBlue: #98a6d4;
    --mint: #59c9a5;
    --gunmetal: #0a2e36;
    --raisinBlack: #15192a;
    --darkPurple: #32161f;
    --iris: #5f52c9;
    --darkCyan: #3c887e;
    --nonPhotoBlue: #a6e1fa;

    /* --bgColor: light-dark(var(--nonPhotoBlue), var(--raisinBlack));
    --secondaryClrs: light-dark(white, var(--iris));
    --scndClrs: light-dark();
    --cardClrs: light-dark(var(--mint), var(--iris));
    --textColor: light-dark(var(--raisinBlack), white); */

    --bgColor: var(--nonPhotoBlue);
    --secondaryClrs: white;
    --cardClrs: var(--mint);
    --textColor: var(--raisinBlack);
}

[data-theme='dark'] {
    --background-color: #121212;
    --text-color: #fff;
    --svg-fill: #fff;
    --button-background: #333;
}

html {
    color-scheme: light dark;
}

* {
    font-family: system-ui;
}

.unselectable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.innerReceptek img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    margin: 0;

    --dot-bg: var(--bgColor);
    --dot-color: var(--secondaryClrs);
    --dot-size: 2px;
    --dot-space: 15px;
    background: linear-gradient(90deg,
            var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
            transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);

    color: var(--textColor);
}

body.dark-theme {
    --bgColor: var(--raisinBlack);
    --secondaryClrs: var(--iris);
    --cardClrs: var(--iris);
    --textColor: white;
}

header {
    background-color: var(--bgColor);
    color: var(--textColor);
    height: 54px;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0%;
    position: sticky;
    top: 0;
    left: 0;
}

header.dark-theme {
    background-color: white;
}

.headerStart {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 20px;
}

.headerLogo {
    height: 90%;
    width: auto;
}

.links {
    text-decoration: none;
    color: var(--text-color);
}

.headerEnd {
    width: 20%;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
}

footer {
    background-color: var(--bgColor);
    color: var(--textColor);
    height: 108px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.button {
    height: 18em;
    width: 12em;
    border-radius: 18px;
    padding: 0.2em;

    border: none;
    background-color: lightskyblue;
    display: block;
    font-size: 25px;
    letter-spacing: 5px;
    color: rgb(90, 94, 97);
}

.text {
    display: none;
    font-size: 20px;
    color: lightskyblue;
}

.befText {
    display: block;
    transition: transform 1s ease-in-out;
}

.clouds {
    display: block;
    height: 4rem;
    width: 8rem;
    display: block;
    animation: cloudMovement ease-in 6s infinite alternate;
    margin-top: -1.5em;
}

.button:hover {
    cursor: pointer;
}

.button:hover .befText {
    text-decoration: none;
    font-weight: bold;
    
    transform: translateY(-100%);
}

.button:focus {
    transition: ease-in 200ms;
    border: 4px solid lightskyblue;
    background-color: white;
}

.button:focus .text {
    display: block;
}

.button:focus .befText {
    display: none;

    overflow: hidden;
}

.button:focus .clouds {
    animation: none;
    display: none;
}

@keyframes hoverMovement {
    from {
        transform: translateY(0em);
    }

    to {
        transform: translateY(-1.5em);
    }
}

@keyframes cloudMovement {
    from {
        transform: translateX(-1.5em);
    }

    to {
        transform: translateX(8em);
    }
}